@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&display=swap");

.plasmic_default_styles {
  --mixin-eFR7XS0wWnoi_font-family: "Inter", sans-serif;
  --mixin-eFR7XS0wWnoi_font-size: 16px;
  --mixin-eFR7XS0wWnoi_font-weight: 400;
  --mixin-eFR7XS0wWnoi_font-style: normal;
  --mixin-eFR7XS0wWnoi_color: #535353;
  --mixin-eFR7XS0wWnoi_text-align: left;
  --mixin-eFR7XS0wWnoi_text-transform: none;
  --mixin-eFR7XS0wWnoi_line-height: 1.5;
  --mixin-eFR7XS0wWnoi_letter-spacing: normal;
  --mixin-eFR7XS0wWnoi_white-space: pre-wrap;
  --mixin-eFR7XS0wWnoi_user-select: text;
  --mixin-eFR7XS0wWnoi_text-decoration-line: none;
  --mixin-eFR7XS0wWnoi_text-overflow: clip;
  --mixin-YQFSqJey-L_H_color: #000000;
  --mixin-YQFSqJey-L_H_font-size: 24px;
  --mixin-YQFSqJey-L_H_font-weight: 600;
  --mixin-YQFSqJey-L_H_letter-spacing: -0.5px;
  --mixin-YQFSqJey-L_H_line-height: 1.3;
  --mixin-YQFSqJey-L_H_white-space: pre-wrap;
  --mixin-lRiBsk3vZtRE_color: #000000;
  --mixin-lRiBsk3vZtRE_font-size: 20px;
  --mixin-lRiBsk3vZtRE_font-weight: 600;
  --mixin-lRiBsk3vZtRE_letter-spacing: -0.3px;
  --mixin-lRiBsk3vZtRE_line-height: 1.5;
  --mixin-lRiBsk3vZtRE_white-space: pre-wrap;
  --mixin-juaB2vudMqVJ_color: #000000;
  --mixin-juaB2vudMqVJ_font-size: 16px;
  --mixin-juaB2vudMqVJ_font-weight: 600;
  --mixin-juaB2vudMqVJ_line-height: 1.5;
  --mixin-juaB2vudMqVJ_white-space: pre-wrap;
  --mixin-bYJGfo7-VbPh_color: #0070f3;
  --mixin-bYJGfo7-VbPh_white-space: pre-wrap;
  --mixin-5UUZLviYWhcI_border-left-color: #dddddd;
  --mixin-5UUZLviYWhcI_border-left-style: solid;
  --mixin-5UUZLviYWhcI_border-left-width: 3px;
  --mixin-5UUZLviYWhcI_color: #888888;
  --mixin-5UUZLviYWhcI_padding-left: 10px;
  --mixin-5UUZLviYWhcI_white-space: pre-wrap;
  --mixin-mWBL6dkAuHVu_color: #000000;
  --mixin-mWBL6dkAuHVu_font-size: 72px;
  --mixin-mWBL6dkAuHVu_font-weight: 900;
  --mixin-mWBL6dkAuHVu_letter-spacing: -4px;
  --mixin-mWBL6dkAuHVu_line-height: 1;
  --mixin-mWBL6dkAuHVu_white-space: pre-wrap;
  --mixin-3bZqCngoLPJr_color: #000000;
  --mixin-3bZqCngoLPJr_font-size: 48px;
  --mixin-3bZqCngoLPJr_font-weight: 700;
  --mixin-3bZqCngoLPJr_letter-spacing: -1px;
  --mixin-3bZqCngoLPJr_line-height: 1.1;
  --mixin-3bZqCngoLPJr_white-space: pre-wrap;
  --mixin-Yhiqs9K2_gs4_color: #000000;
  --mixin-Yhiqs9K2_gs4_font-size: 32px;
  --mixin-Yhiqs9K2_gs4_font-weight: 600;
  --mixin-Yhiqs9K2_gs4_letter-spacing: -0.8px;
  --mixin-Yhiqs9K2_gs4_line-height: 1.2;
  --mixin-Yhiqs9K2_gs4_white-space: pre-wrap;
  --mixin-I6Exyz2Dqqpx1_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-I6Exyz2Dqqpx1_border-bottom-color: #dddddd;
  --mixin-I6Exyz2Dqqpx1_border-bottom-style: solid;
  --mixin-I6Exyz2Dqqpx1_border-bottom-width: 1px;
  --mixin-I6Exyz2Dqqpx1_border-left-color: #dddddd;
  --mixin-I6Exyz2Dqqpx1_border-left-style: solid;
  --mixin-I6Exyz2Dqqpx1_border-left-width: 1px;
  --mixin-I6Exyz2Dqqpx1_border-right-color: #dddddd;
  --mixin-I6Exyz2Dqqpx1_border-right-style: solid;
  --mixin-I6Exyz2Dqqpx1_border-right-width: 1px;
  --mixin-I6Exyz2Dqqpx1_border-top-color: #dddddd;
  --mixin-I6Exyz2Dqqpx1_border-top-style: solid;
  --mixin-I6Exyz2Dqqpx1_border-top-width: 1px;
  --mixin-I6Exyz2Dqqpx1_border-bottom-left-radius: 3px;
  --mixin-I6Exyz2Dqqpx1_border-bottom-right-radius: 3px;
  --mixin-I6Exyz2Dqqpx1_border-top-left-radius: 3px;
  --mixin-I6Exyz2Dqqpx1_border-top-right-radius: 3px;
  --mixin-I6Exyz2Dqqpx1_font-family: "Inconsolata";
  --mixin-I6Exyz2Dqqpx1_padding-bottom: 1px;
  --mixin-I6Exyz2Dqqpx1_padding-left: 4px;
  --mixin-I6Exyz2Dqqpx1_padding-right: 4px;
  --mixin-I6Exyz2Dqqpx1_padding-top: 1px;
  --mixin-I6Exyz2Dqqpx1_white-space: pre-wrap;
  --mixin-Fk9qs-1zvohEd_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-Fk9qs-1zvohEd_border-bottom-color: #dddddd;
  --mixin-Fk9qs-1zvohEd_border-bottom-style: solid;
  --mixin-Fk9qs-1zvohEd_border-bottom-width: 1px;
  --mixin-Fk9qs-1zvohEd_border-left-color: #dddddd;
  --mixin-Fk9qs-1zvohEd_border-left-style: solid;
  --mixin-Fk9qs-1zvohEd_border-left-width: 1px;
  --mixin-Fk9qs-1zvohEd_border-right-color: #dddddd;
  --mixin-Fk9qs-1zvohEd_border-right-style: solid;
  --mixin-Fk9qs-1zvohEd_border-right-width: 1px;
  --mixin-Fk9qs-1zvohEd_border-top-color: #dddddd;
  --mixin-Fk9qs-1zvohEd_border-top-style: solid;
  --mixin-Fk9qs-1zvohEd_border-top-width: 1px;
  --mixin-Fk9qs-1zvohEd_border-bottom-left-radius: 3px;
  --mixin-Fk9qs-1zvohEd_border-bottom-right-radius: 3px;
  --mixin-Fk9qs-1zvohEd_border-top-left-radius: 3px;
  --mixin-Fk9qs-1zvohEd_border-top-right-radius: 3px;
  --mixin-Fk9qs-1zvohEd_font-family: "Inconsolata";
  --mixin-Fk9qs-1zvohEd_padding-bottom: 3px;
  --mixin-Fk9qs-1zvohEd_padding-left: 6px;
  --mixin-Fk9qs-1zvohEd_padding-right: 6px;
  --mixin-Fk9qs-1zvohEd_padding-top: 3px;
  --mixin-Fk9qs-1zvohEd_white-space: pre-wrap;
  --mixin-V8z79zANCNg1z_display: flex;
  --mixin-V8z79zANCNg1z_flex-direction: column;
  --mixin-V8z79zANCNg1z_align-items: stretch;
  --mixin-V8z79zANCNg1z_justify-content: flex-start;
  --mixin-V8z79zANCNg1z_list-style-position: outside;
  --mixin-V8z79zANCNg1z_padding-left: 40px;
  --mixin-V8z79zANCNg1z_position: relative;
  --mixin-V8z79zANCNg1z_list-style-type: decimal;
  --mixin-V8z79zANCNg1z_white-space: pre-wrap;
  --mixin-SC4usVfsUmJTY_display: flex;
  --mixin-SC4usVfsUmJTY_flex-direction: column;
  --mixin-SC4usVfsUmJTY_align-items: stretch;
  --mixin-SC4usVfsUmJTY_justify-content: flex-start;
  --mixin-SC4usVfsUmJTY_list-style-position: outside;
  --mixin-SC4usVfsUmJTY_padding-left: 40px;
  --mixin-SC4usVfsUmJTY_position: relative;
  --mixin-SC4usVfsUmJTY_list-style-type: disc;
  --mixin-SC4usVfsUmJTY_white-space: pre-wrap;
  --mixin-Emv0iBzox5hQY_color: #3291ff;
  --mixin-Emv0iBzox5hQY_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
.root_reset {
  font-family: var(--mixin-eFR7XS0wWnoi_font-family);
  font-size: var(--mixin-eFR7XS0wWnoi_font-size);
  font-weight: var(--mixin-eFR7XS0wWnoi_font-weight);
  font-style: var(--mixin-eFR7XS0wWnoi_font-style);
  color: var(--mixin-eFR7XS0wWnoi_color);
  text-align: var(--mixin-eFR7XS0wWnoi_text-align);
  text-transform: var(--mixin-eFR7XS0wWnoi_text-transform);
  line-height: var(--mixin-eFR7XS0wWnoi_line-height);
  letter-spacing: var(--mixin-eFR7XS0wWnoi_letter-spacing);
  white-space: var(--mixin-eFR7XS0wWnoi_white-space);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset :global(.__wab_expr_html_text) h4),
:where(.root_reset.plasmic_default__h4) {
  color: var(--mixin-YQFSqJey-L_H_color);
  font-size: var(--mixin-YQFSqJey-L_H_font-size);
  font-weight: var(--mixin-YQFSqJey-L_H_font-weight);
  letter-spacing: var(--mixin-YQFSqJey-L_H_letter-spacing);
  line-height: var(--mixin-YQFSqJey-L_H_line-height);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset :global(.__wab_expr_html_text) h5),
:where(.root_reset.plasmic_default__h5) {
  color: var(--mixin-lRiBsk3vZtRE_color);
  font-size: var(--mixin-lRiBsk3vZtRE_font-size);
  font-weight: var(--mixin-lRiBsk3vZtRE_font-weight);
  letter-spacing: var(--mixin-lRiBsk3vZtRE_letter-spacing);
  line-height: var(--mixin-lRiBsk3vZtRE_line-height);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset :global(.__wab_expr_html_text) h6),
:where(.root_reset.plasmic_default__h6) {
  color: var(--mixin-juaB2vudMqVJ_color);
  font-size: var(--mixin-juaB2vudMqVJ_font-size);
  font-weight: var(--mixin-juaB2vudMqVJ_font-weight);
  line-height: var(--mixin-juaB2vudMqVJ_line-height);
}

:where(.root_reset .plasmic_default__a),
:where(.root_reset .a),
:where(.root_reset :global(.__wab_expr_html_text) a),
:where(.root_reset.plasmic_default__a) {
  color: var(--mixin-bYJGfo7-VbPh_color);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset :global(.__wab_expr_html_text) blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-5UUZLviYWhcI_color);
  padding-left: var(--mixin-5UUZLviYWhcI_padding-left);
  border-left: var(--mixin-5UUZLviYWhcI_border-left-width)
    var(--mixin-5UUZLviYWhcI_border-left-style)
    var(--mixin-5UUZLviYWhcI_border-left-color);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset :global(.__wab_expr_html_text) h1),
:where(.root_reset.plasmic_default__h1) {
  color: var(--mixin-mWBL6dkAuHVu_color);
  font-size: var(--mixin-mWBL6dkAuHVu_font-size);
  font-weight: var(--mixin-mWBL6dkAuHVu_font-weight);
  letter-spacing: var(--mixin-mWBL6dkAuHVu_letter-spacing);
  line-height: var(--mixin-mWBL6dkAuHVu_line-height);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset :global(.__wab_expr_html_text) h2),
:where(.root_reset.plasmic_default__h2) {
  color: var(--mixin-3bZqCngoLPJr_color);
  font-size: var(--mixin-3bZqCngoLPJr_font-size);
  font-weight: var(--mixin-3bZqCngoLPJr_font-weight);
  letter-spacing: var(--mixin-3bZqCngoLPJr_letter-spacing);
  line-height: var(--mixin-3bZqCngoLPJr_line-height);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset :global(.__wab_expr_html_text) h3),
:where(.root_reset.plasmic_default__h3) {
  color: var(--mixin-Yhiqs9K2_gs4_color);
  font-size: var(--mixin-Yhiqs9K2_gs4_font-size);
  font-weight: var(--mixin-Yhiqs9K2_gs4_font-weight);
  letter-spacing: var(--mixin-Yhiqs9K2_gs4_letter-spacing);
  line-height: var(--mixin-Yhiqs9K2_gs4_line-height);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset :global(.__wab_expr_html_text) code),
:where(.root_reset.plasmic_default__code) {
  background: #f8f8f8;
  font-family: var(--mixin-I6Exyz2Dqqpx1_font-family);
  border-radius: var(--mixin-I6Exyz2Dqqpx1_border-top-left-radius)
    var(--mixin-I6Exyz2Dqqpx1_border-top-right-radius)
    var(--mixin-I6Exyz2Dqqpx1_border-bottom-right-radius)
    var(--mixin-I6Exyz2Dqqpx1_border-bottom-left-radius);
  padding: var(--mixin-I6Exyz2Dqqpx1_padding-top)
    var(--mixin-I6Exyz2Dqqpx1_padding-right)
    var(--mixin-I6Exyz2Dqqpx1_padding-bottom)
    var(--mixin-I6Exyz2Dqqpx1_padding-left);
  border-top: var(--mixin-I6Exyz2Dqqpx1_border-top-width)
    var(--mixin-I6Exyz2Dqqpx1_border-top-style)
    var(--mixin-I6Exyz2Dqqpx1_border-top-color);
  border-right: var(--mixin-I6Exyz2Dqqpx1_border-right-width)
    var(--mixin-I6Exyz2Dqqpx1_border-right-style)
    var(--mixin-I6Exyz2Dqqpx1_border-right-color);
  border-bottom: var(--mixin-I6Exyz2Dqqpx1_border-bottom-width)
    var(--mixin-I6Exyz2Dqqpx1_border-bottom-style)
    var(--mixin-I6Exyz2Dqqpx1_border-bottom-color);
  border-left: var(--mixin-I6Exyz2Dqqpx1_border-left-width)
    var(--mixin-I6Exyz2Dqqpx1_border-left-style)
    var(--mixin-I6Exyz2Dqqpx1_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset :global(.__wab_expr_html_text) pre),
:where(.root_reset.plasmic_default__pre) {
  background: #f8f8f8;
  font-family: var(--mixin-Fk9qs-1zvohEd_font-family);
  border-radius: var(--mixin-Fk9qs-1zvohEd_border-top-left-radius)
    var(--mixin-Fk9qs-1zvohEd_border-top-right-radius)
    var(--mixin-Fk9qs-1zvohEd_border-bottom-right-radius)
    var(--mixin-Fk9qs-1zvohEd_border-bottom-left-radius);
  padding: var(--mixin-Fk9qs-1zvohEd_padding-top)
    var(--mixin-Fk9qs-1zvohEd_padding-right)
    var(--mixin-Fk9qs-1zvohEd_padding-bottom)
    var(--mixin-Fk9qs-1zvohEd_padding-left);
  border-top: var(--mixin-Fk9qs-1zvohEd_border-top-width)
    var(--mixin-Fk9qs-1zvohEd_border-top-style)
    var(--mixin-Fk9qs-1zvohEd_border-top-color);
  border-right: var(--mixin-Fk9qs-1zvohEd_border-right-width)
    var(--mixin-Fk9qs-1zvohEd_border-right-style)
    var(--mixin-Fk9qs-1zvohEd_border-right-color);
  border-bottom: var(--mixin-Fk9qs-1zvohEd_border-bottom-width)
    var(--mixin-Fk9qs-1zvohEd_border-bottom-style)
    var(--mixin-Fk9qs-1zvohEd_border-bottom-color);
  border-left: var(--mixin-Fk9qs-1zvohEd_border-left-width)
    var(--mixin-Fk9qs-1zvohEd_border-left-style)
    var(--mixin-Fk9qs-1zvohEd_border-left-color);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset :global(.__wab_expr_html_text) ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-V8z79zANCNg1z_display);
  flex-direction: var(--mixin-V8z79zANCNg1z_flex-direction);
  align-items: var(--mixin-V8z79zANCNg1z_align-items);
  justify-content: var(--mixin-V8z79zANCNg1z_justify-content);
  list-style-position: var(--mixin-V8z79zANCNg1z_list-style-position);
  padding-left: var(--mixin-V8z79zANCNg1z_padding-left);
  position: var(--mixin-V8z79zANCNg1z_position);
  list-style-type: var(--mixin-V8z79zANCNg1z_list-style-type);
  flex-column-gap: var(--mixin-V8z79zANCNg1z_flex-column-gap);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset :global(.__wab_expr_html_text) ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-SC4usVfsUmJTY_display);
  flex-direction: var(--mixin-SC4usVfsUmJTY_flex-direction);
  align-items: var(--mixin-SC4usVfsUmJTY_align-items);
  justify-content: var(--mixin-SC4usVfsUmJTY_justify-content);
  list-style-position: var(--mixin-SC4usVfsUmJTY_list-style-position);
  padding-left: var(--mixin-SC4usVfsUmJTY_padding-left);
  position: var(--mixin-SC4usVfsUmJTY_position);
  list-style-type: var(--mixin-SC4usVfsUmJTY_list-style-type);
  flex-column-gap: var(--mixin-SC4usVfsUmJTY_flex-column-gap);
}

:where(.root_reset .plasmic_default__a:hover),
:where(.root_reset .a:hover),
:where(.root_reset :global(.__wab_expr_html_text) a:hover),
:where(.root_reset.plasmic_default__a:hover) {
  color: var(--mixin-Emv0iBzox5hQY_color);
}
